# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.gradle/
*.apk
*.aab
*.jks
*.keystore
local.properties

# OS / editor
Thumbs.db
.DS_Store
*.swp

# opencode
.opencode/
